.container{
    display: block;
    background-color: aquamarine;
    padding: 20px 10px;
}

#lista-add {
    margin: auto;
}

#digitar-tarefa {
    border-radius: 20px;
    height: 30px;
    width: 250px;
    text-align: center;
}

#add {
    border-radius: 20px;
    height: 35px;
    background-color: rgb(169, 0, 221);
    color: white;
    font-weight: 700;
}

#tarefas {
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.task-item {
    padding: 10px;
}

body {
    background-color: rgb(178, 247, 247);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: blueviolet;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
}